.hello {
    width: 100%;
    min-height: 100%;
}


/* video */

.video {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.video video {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.video .video-txt {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.video-txt-box {
    color: #fff;
    text-align: center;
}

.video-txt-box h2 {
    font-size: 100px;
    letter-spacing: 15px;
    line-height: 1;
}

.video-txt-box p {
    width: 900px;
    margin: 0 auto;
    font-size: 16px;
    padding: 24px 0 30px;
    line-height: 1.6;
}

.video-txt-box a {
    position: relative;
    display: inline-block;
    width: 180px;
    line-height: 60px;
    border: 2px #999 solid;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition-duration: 300ms;
    transition-delay: 300ms;
    transition-timing-function: ease-out;
}

.video-txt-box .sp1,
.video-txt-box .sp2,
.video-txt-box .sp3,
.video-txt-box .sp4 {
    position: absolute;
    display: inline-block;
    background-color: #fff;
    transition-duration: 300ms;
}

.video-txt-box .sp1,
.video-txt-box .sp3 {
    width: 0;
    height: 2px;
}

.video-txt-box .sp2,
.video-txt-box .sp4 {
    width: 2px;
    height: 0;
}

.video-txt-box .sp1 {
    top: -2px;
    left: -2px;
}

.video-txt-box .sp2 {
    top: -2px;
    right: -2px;
}

.video-txt-box .sp3 {
    bottom: -2px;
    right: -2px;
}

.video-txt-box .sp4 {
    bottom: -2px;
    left: -2px;
}

.video-txt-box a:hover .sp1,
.video-txt-box a:hover .sp3 {
    width: calc(100% + 2px);
}

.video-txt-box a:hover .sp2,
.video-txt-box a:hover .sp4 {
    height: calc(100% + 2px);
}

.video-txt-box a:hover {
    background-color: #fff;
    color: #333;
}


/* init  */

.init {
    padding: 30px 0 40px;
    text-align: center;
}

.imgbox {
    width: 50px;
}

.init-txt {
    padding-top: 20px;
    line-height: 2;
    font-size: 14px;
    color: #333;
}


/* case */

.case li {
    width: 33.33%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    font-size: 22px;
    font-weight: bold;
}

.case .nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.case .nav p {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: matrix(1, 0, 0, 1, 0, -32);
}

.case .nav p i {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
    transform: matrix(-.01, 0, 0, -.01, 0, 0);
    opacity: 0;
    transition-duration: 600ms;
}

.case li:hover {
    width: 70%;
    flex-shrink: 0;
}

.case li:hover i {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
}

.case li i:hover {
    color: orange;
}


/* course */

.course {
    height: 277px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course .course-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2d2d2d;
}

.course .course-logo img {
    display: block;
    height: 60%;
}

.course .course-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 4px;
    border-radius: 2px;
    padding-right: 100px;
    background-color: #2d2d2d;
}

.course .course-item {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 4px #fff solid;
    background-color: #2d2d2d;
    box-shadow: 0 0 2px #000;
}

.course-item-2::before,
.course-item-1::before {
    position: absolute;
    content: "";
    height: 60px;
    border-right: 1px #ddd dashed;
    left: 50%;
    bottom: 16px;
}

.course-item-2::before {
    top: 16px;
}

.course-item-2::after,
.course-item-1::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
    bottom: 80px;
    left: 50%;
    margin-left: -6px;
}

.course-item-2::after {
    top: 80px;
    margin-left: -5px;
}

.course .course-item h2 {
    position: absolute;
    width: 80px;
    font-size: 18px;
    color: #333;
    left: 13px;
}

.course .course-item p {
    position: absolute;
    font-size: 12px;
    line-height: 1.4;
    width: 200px;
    left: 12px;
}

.course-item-1 h2 {
    bottom: 75px;
}

.course-item-2 h2 {
    top: 75px;
}

.course .course-item-1 p {
    top: -65px;
}

.course .course-item-2 p {
    top: 98px;
}


/* news */

.news {
    display: flex;
    align-items: center;
}

.news-title {
    font-size: 26px;
    padding: 50px;
    text-align: center;
    font-weight: normal;
}

.news a {
    position: relative;
    width: 33.33%;
    overflow: hidden;
}

.news a .news-info {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0 20px;
    line-height: 1;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .01));
}

.news a .news-info p {
    font-size: 23px;
    color: #fff;
}

.news a .news-info time {
    font-size: 16px;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    color: #b0b0b0;
}

.news a .news-info span {
    line-height: 1.6;
    color: #b0b0b0;
    font-size: 16px;
}

.news .news-shade {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    filter: blur(20px);
    transform: matrix(1.05, 0, 0, 1.05, 0, 0);
    transition-duration: 600ms;
    z-index: 9;
    pointer-events: none;
}

.news a:hover .news-shade {
    opacity: 1;
    filter: blur(0);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.news a:hover .news-shade i {
    transform: rotate(360deg);
}

.news .news-shade i {
    font-size: 40px;
    color: #fff;
}


/* works */

.works {
    padding: 50px 0;
    text-align: center;
}

.works h2 {
    font-size: 26px;
    color: #000;
    font-weight: normal;
}

.works a {
    line-height: 40px;
    padding: 0 25px;
    margin: 16px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, .9);
    border-radius: 20px;
    transition-duration: 600ms;
}

.works a:hover {
    background-color: rgba(0, 0, 0, .1);
    color: #333;
}


/* works-list */

.works-list {
    font-size: 0;
    background-color: #333;
}

.works-list::after {
    content: "";
    float: none;
    clear: both;
    display: block;
    height: 0;
}

.works-list a {
    float: left;
    display: inline-block;
    position: relative;
    width: 33.33%;
    color: #fff;
    text-align: left;
    line-height: 1;
    background-color: #000;
    overflow: hidden;
    cursor: pointer;
}

.works-list a:nth-child(7) {
    /* margin-left: 33.33%; */
}

.works-list a img {
    display: block;
    width: 100%;
    transition-duration: 600ms;
}

.works-list a:nth-child(2) img,
.works-list a:nth-child(4) img {
    height: 100%;
    width: auto;
}

.works-list .works-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-duration: 600ms;
    background-color: rgba(0, 0, 0, .5);
}

.works-list .works-title {
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
    bottom: 40px;
    font-size: 14px;
}

.works-list .works-txt {
    position: absolute;
    width: calc(100% - 80px);
    left: 20px;
    bottom: 10px;
    font-size: 16px;
}

.works-list a:hover img {
    transform: matrix(1.05, 0, 0, 1.05, 0, 0)
}

.works-list a:hover .works-shade {
    opacity: 1;
}


/* client */

.my-client {
    padding: 50px;
    position: relative;
    overflow: hidden;
}

.my-client h2 {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    padding-bottom: 40px;
}

.my-client-box {
    position: relative;
}

.my-client-list1,
.my-client-list2 {
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    margin: 20px 0;
}

.my-client-list1 div,
.my-client-list2 div {
    display: inline-block;
    padding: 0 12px;
}

.my-client-list2 {
    position: absolute;
    top: 100px;
    right: 0;
}

.my-client-none {
    opacity: 0;
    margin: 20px 0;
}


/* shede */

.shade {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
    transform: matrix(1.05, 0, 0, 1.05, 0, 0);
    filter: blur(20px);
    transition-duration: 600ms;
}

.shade.active {
    pointer-events: auto;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    filter: blur(0);
}

.shade video {
    width: 65%;
}

.index-a {
    transition-duration: 600ms;
}

.index-a:hover {
    color: deepskyblue;
}