* {
    margin: 0;
    padding: 0;
}

html,
body,
.app {
    width: 100%;
    overflow: hidden;
}

.app video {
    display: block;
    width: 100%;
}

.app img {
    display: block;
    width: 100%;
}