<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/icon/iconfont.css">
    <link rel="stylesheet" href="/stylesheets/web/contact-we.css">
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/web.config.js"></script>
</head>

<body>
    <div id="app">
        <header class="flex flex-mid flex-center-3">
            <div class="logo flex-1">
                <div class="img-box">
                    <img class="block h100" src="/images/web/logo.png" alt="">
                </div>
            </div>
            <div class="nav flex-0 h100">
                <ul class="oneUl flex flex-mid flex-center-2 h100">
                    <li class="oneLi relative h100 transition600" v-for="(item,index) in nav" :key="index">
                        <span class="navBar transition600"></span>
                        <a class="oneNav flex flex-mid wh100" :href="item.link"><span>{{item.txt}}</span></a>
                        <ul class="towUl overflow" v-if="item.child">
                            <li class="towLi transition600" v-for="(i,j) in item.child" :key="j">
                                <a class="towNav flex-center-1" :href="i.link"><span>{{i.txt}}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div class="init">
            <h2>联系我们</h2>
        </div>
        <div class="f0">
            <img class="inline-block w50" src="http://www.bitone.com/template/1/default/_files/cn/img/our/img1.jpg" alt="">
            <img class="inline-block w50" src="http://www.bitone.com/template/1/default/_files/cn/img/our/img1.jpg" alt="">
        </div>
        <div class="address">
            <h2>杭州</h2>
            <span>杭州市西湖区</span>
            <p>电话：111111111</p>
            <p>邮箱：11111111@qq.com</p>
        </div>
        <div class="form">
            <h2>联系您的信息</h2>
            <span>欢迎来到BITONE。如果您想了解我们的产品和服务，或对我们有任何疑问，请随时通过电话、邮箱或站内消息与我们联系。期待您的来信！ 我们会在1-2个工作日内回复您的邮件（星期一 ~ 星期五，上午9:00 - 下午5:30.）。</span>
            <p>请填写以下表格。 带 * 必填 ，后面选填就行（越详细越好） 希望能为您提供技术支持和服务！</p>
            <form>
                <input type="text" name="name" placeholder="*姓名">
                <input type="email" name="email" placeholder="*邮箱">
                <input type="text" name="phone" placeholder="*电话号码 (如果您在中国以外地区，请在前面加上国家代码)">
                <input type="text" name="city" placeholder="所在城市">
                <input type="text" name="company" placeholder="公司">
                <textarea name="" id="" cols="30" rows="5">您的信息</textarea>

                <a href="javascript:">提交</a>
            </form>
        </div>
        <div class="about-me">
            <h2>联系我们</h2>
            <div>
                <p>测试文本测试文本测试文本</p>
                <p>测试文本测试文本测试文本</p>
                <p>测试文本测试文本测试文本</p>
                <p>测试文本测试文本测试文本</p>
                <p>测试文本测试文本测试文本</p>
            </div>
        </div>
        <div class="foot">
            <div class="foot-left">
                <h2>杭州</h2>
                <div>
                    <p>测试文本测试文本测试文本</p>
                    <p>测试文本测试文本测试文本</p>
                    <p>测试文本测试文本测试文本</p>
                    <p>测试文本测试文本测试文本</p>
                </div>
            </div>
            <div class="foot-mid">
                <img src="/images/web/loop.png" alt="">
            </div>
            <div class="foot-right">
                <h2>杭州</h2>
                <div>
                    <p>测试文本测试文本测试文本</p>
                    <p>测试文本测试文本测试文本</p>
                    <p>测试文本测试文本测试文本</p>
                    <p>测试文本测试文本测试文本</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/javascripts/web/contact-we.js"></script>

</html>