<div class="about-me">
    <h2>联系我们</h2>
    <div>
        <p>测试文本测试文本测试文本</p>
        <p>测试文本测试文本测试文本</p>
        <p>测试文本测试文本测试文本</p>
        <p>测试文本测试文本测试文本</p>
        <p>测试文本测试文本测试文本</p>
    </div>
</div>
<div class="foot">
    <div class="foot-left">
        <h2>杭州</h2>
        <div>
            <p>测试文本测试文本测试文本</p>
            <p>测试文本测试文本测试文本</p>
            <p>测试文本测试文本测试文本</p>
            <p>测试文本测试文本测试文本</p>
        </div>
    </div>
    <div class="foot-mid">
        <img src="/images/web/loop.png" alt="">
    </div>
    <div class="foot-right">
        <h2>杭州</h2>
        <div>
            <p>测试文本测试文本测试文本</p>
            <p>测试文本测试文本测试文本</p>
            <p>测试文本测试文本测试文本</p>
            <p>测试文本测试文本测试文本</p>
        </div>
    </div>
</div>
</div>
</body>

</html>