<%- include("./header.html") %>
    <link rel="stylesheet" href="/stylesheets/web/index.css">
    <div id="tqr"></div>
    <div id="app">
        <header class="flex flex-mid flex-center-3">
            <div class="logo flex-1">
                <div class="img-box">
                    <img class="block h100" src="/images/web/logo.png" alt="">
                </div>
            </div>
            <div class="nav flex-0 h100">
                <ul class="oneUl flex flex-mid flex-center-2 h100">
                    <li class="oneLi relative h100 transition600" v-for="(item,index) in nav" :key="index">
                        <span class="navBar transition600"></span>
                        <a class="oneNav flex flex-mid wh100" :href="item.link"><span>{{item.txt}}</span></a>
                        <ul class="towUl overflow" v-if="item.child">
                            <li class="towLi transition600" v-for="(i,j) in item.child" :key="j">
                                <a class="towNav flex-center-1" :href="i.link"><span>{{i.txt}}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div class="video">
            <video src="http://www.bitone.com/template/1/default/_files/cn/video/banner-1.mp4" autoplay loop></video>
            <div class="video-txt">
                <div class="video-txt-box">
                    <h2>2018SHOWREEL</h2>
                    <p>啊鲁大师大家啊上的拉屎的了撒旦画了撒旦画实践活动拉屎了撒旦画拉屎拉屎拉屎的拉升的拉屎拉屎拉可适当拉屎的阿了撒旦画杀得好阿斯兰的萨达</p>
                    <a :href="'/'">PLAY VIDEO
                    <span class="sp1"></span><span class="sp2"></span><span class="sp3"></span><span class="sp4"></span>
                </a>
                </div>
            </div>
        </div>
        <div class="init">
            <div class="imgbox inline-block">
                <img class="block w100" src="/images/web/logo1.png" alt="">
            </div>
            <div class="init-txt">
                <p>国际化的专业汽车虚拟影像应用解决方案供应商。</p>
                <p>拥有一支经验丰富CG创作团队，采用丰富独特的创意，结合CG、实拍、虚拟现实等技术方式，</p>
                <p>为客户定制用于车展活动、发布会、广告等全媒体营销渠道的影像内容及互动方案。是</p>
            </div>
        </div>
        <div class="case">
            <ul class="flex">
                <li class="flex-1 overflow transition600 " v-for="(item,index) in caseList" :key="index" :style="{'height':caseH+'px'}">
                    <a class="nav" :href="item.link" :style="{'background-image':item.img}">
                        <span>{{item.txt}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="course">
            <ul>
                <li v-for="(item,index) in courseList" :key="index">
                    <div>
                        <h2>{{item.title}}</h2>
                        <span>{{item.sub}}</span>
                        <p>{{item.txt}}</p>
                        <a :href="item.link">SHOW MORE</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="works">
            <h2>作品展示</h2>
            <div>
                <a :href="item.link" v-for="(item,index) in works" :key="index">{{item.txt}}</a>
            </div>
        </div>
        <div class="works-list">
            <a :href="'/app/work/'+item._id" v-for="(item,index) in worksList" :key="index">
                <img :src="item.cover" alt="作品">
                <span class="works-shade">
            <span class="works-title">{{item.title}}</span>
                <span class="works-txt text-hide-1">{{item.txt}}</span>
                </span>
            </a>
        </div>
        <div class="my-client">
            <h2>我们的客户</h2>
            <div class="my-client-box">
                <div class="my-client-list1">
                    <div v-for="(item,index) in client" :key="index">
                        <img :src="item.img" alt="">
                    </div>
                </div>
                <div class="my-client-list2">
                    <div v-for="(item,index) in client" :key="index">
                        <img :src="item.img" alt="">
                    </div>
                </div>
                <div class="my-client-none"><img :src="client[0].img" alt=""></div>
            </div>
        </div>
    </div>

    <script src="/javascripts/web/index.js"></script>
    <%- include("./footer.html") %>