<%- include("./header.html")%>
    <link rel="stylesheet" href="/stylesheets/web/join-we.css">
    <div id="scss">
        <link v-if="isPhone" rel="stylesheet" href="/stylesheets/phone/join-we.css">
    </div>
    <div id="app">
        <div class="init">
            <h2>加入我们</h2>
            <a href="/app/link">22</a>
        </div>
        <img class="block w100" src="http://www.bitone.com/template/1/default/_files/cn/img/our/img3.jpg" alt="">
        <div class="info">
            <p>
                <span>在BITONE热衷学习的开放式环境中，我们的终极目标是实现伙伴和公司的双赢</span>
                <span>在BITONE热衷学习的开放式环境中，我们的终极目标</span>
                <span>在BITONE热衷学习的</span>
                <span>在BITONE热衷学习，我们的终极目标</span>
            </p>
        </div>
        <div class="jobs">
            <div class="job" v-for="(item,index) in jobInfo" :key="index">
                <img :src="item.url" alt="">
                <h5>{{item.title}}</h5>
                <p>
                    <span v-for="(el,i) in item.txt" :key="i">{{el}}</span>
                </p>
            </div>
        </div>
        <div class="job-info">
            <p>
                <span>卡卡大家爱看是的骄傲是卡卡</span>
                <span>哇哇哇的萨达十大哇</span>
            </p>
            <p class="scross"></p>
            <p>
                <span>哇哇的撒大大哇哇哇</span>
                <a href="mailto:1014080407@qq.com" title="发送简历到邮箱">2132323111@qq.com</a>
            </p>
        </div>
        <div class="job-table">
            <div class="job-slide" :class="{'active':isSwitch}" @click.stop>
                <table>
                    <tr>
                        <th>敢为</th>
                        <th>部门</th>
                        <th>类型</th>
                        <th>地点</th>
                    </tr>
                    <tr class="job-tr" v-for="(item,index) in jobs" :key="index" @click="bindJob($event,{intro:item.intro,skill:item.skill})">
                        <td>{{item.name}}</td>
                        <td>{{item.department}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.address}}</td>
                    </tr>
                </table>
                <div class="job-table-info" @click="isSwitch = false">
                    <h2>详情</h2>
                    <p>
                        <span v-for="(item,index) in intro" :key="index">{{index}}：{{item}}</span>
                    </p>
                    <h2>要求</h2>
                    <p>
                        <span v-for="(item,index) in skill" :key="index">{{index}}：{{item}}</span>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <script src="/javascripts/web/join-we.js"></script>
    <%- include("./footer.html")%>