<%- include("header.html")%>
    <link rel="stylesheet" href="/stylesheets/web/my-client.css">
    <div id="app">
        <img class="block w100" src="http://www.bitone.com/template/1/default/_files/cn/img/customer/bannner.jpg" alt="">
        <div class="init">
            <h2>我的客户</h2>
            <p>
                <span>BITONE服务的客户遍布全球,目前已服务超过60家公司，300多款产品。</span>
                <span>BITONE服务的客户遍布全球</span>
            </p>
        </div>
        <div class="brands">
            <div class="brand" v-for="(item,index) in brands" :key="index">
                <p><img src="http://www.bitone.com/template/1/default/_files/cn/img/customer/icon1.png" alt=""></p>
            </div>
        </div>
    </div>
    <script src="/javascripts/web/my-client.js"></script>
    <%- include("footer.html")%>