<%- include("header.html")%>
    <link rel="stylesheet" href="/stylesheets/web/work.css">
    <div id="app">
        <header class="flex flex-mid flex-center-3">
            <div class="logo flex-1">
                <div class="img-box">
                    <img class="block h100" src="/images/web/logo.png" alt="">
                </div>
            </div>
            <div class="nav flex-0 h100">
                <ul class="oneUl flex flex-mid flex-center-2 h100">
                    <li class="oneLi relative h100 transition600" v-for="(item,index) in nav" :key="index">
                        <span class="navBar transition600"></span>
                        <a class="oneNav flex flex-mid wh100" :href="item.link"><span>{{item.txt}}</span></a>
                        <ul class="towUl overflow" v-if="item.child">
                            <li class="towLi transition600" v-for="(i,j) in item.child" :key="j">
                                <a class="towNav flex-center-1" :href="i.link"><span>{{i.txt}}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <h2>{{title}}</h2>
        <div class="cont"></div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                nav: set_config.header,
                title: "",
                cover: "",
                cont: ""
            },
            mounted() {
                let url = window.location.href.replace(/.+\//g, "");
                $.ajax({
                    url: "/app/work",
                    type: "post",
                    data: {
                        id: url
                    },
                    success: (res) => {
                        console.log(res)
                        this.title = res.data.title;
                        this.cover = res.data.cover;
                        $(res.data.cont).appendTo($(".cont"));
                    }
                })
            }
        })
    </script>
    <%- include("footer.html")%>