<%- include("header.html")%>
    <link rel="stylesheet" href="/stylesheets/web/work.css">
    <div id="app">
        <h2>{{title}}</h2>
        <div class="cont"></div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                nav: set_config.header,
                title: "",
                cover: "",
                cont: ""
            },
            mounted() {
                let url = window.location.href.replace(/.+\//g, "");
                $.ajax({
                    url: "/app/work",
                    type: "post",
                    data: {
                        id: url
                    },
                    success: (res) => {
                        console.log(res)
                        this.title = res.data.title;
                        this.cover = res.data.cover;
                        $(res.data.cont).appendTo($(".cont"));
                    }
                })
            }
        })
    </script>
    <%- include("footer.html")%>